{
  "env": {
    "es6": true,
    "browser": true,
    "mocha": true,
    "node": true,
    "jest": true
  },
  "parser": "@babel/eslint-parser",
  "root": true,
  "extends": [
    "plugin:prettier/recommended",
    "plugin:jsx-a11y/recommended"
  ],
  "plugins": [
    "react",
    "import",
    "prefer-object-spread",
    "prettier",
    "react-hooks",
    "jsx-a11y",
    "jest-dom",
    "testing-library"
  ],
  "globals": {
    "Promise": true,
    "window": true,
    "$": true,
    "ga": true,
    "jQuery": true,
    "router": true
  },
  "rules": {
    "max-len": 0
  },
  "settings": {
    "react": {
      "version": "16.4.2",
      "import/ignore": ["\\.json$"],
      "import/extensions": [".js", ".jsx"]
    },
    "import/ignore": ["node_modules"]
  },
  "overrides": [{
      "files": ["*.test.js"],
      "env": {
        "jest": true
      }
    },
    {
      "files": [
        ".eslintrc",
        "babel.config.js",
        "jest.config.js",
        "webpack.config.js"
      ],
      "env": {
        "node": true
      }
    }
  ]
}
